@import '../../assets/theme';

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    color: $light-mode-color;
    background-color: $light-mode-bg;

    transition: 300ms color ease-in, 300ms bg ease-in;

    &--dark-mode {
        color: $dark-mode-color;
        background-color: $dark-mode-main-bg;
    }
}