@import '../../assets/theme';

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    color: $light-mode-color;
    background-color: $light-mode-bg;

    transition: 300ms color ease-in, 300ms bg ease-in;

    &--dark-mode {
        color: $dark-mode-color;
        background-color: $dark-mode-main-bg;
    }
}

.loading {
    flex: 1;
    width: 100%;
    height: calc(100% - 61px);
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden auto;
};