$text-dark-color: #494949;
$text-light-color: #ffffff;

$text-primary-opacity-color: rgba(73,73,73,0.3);

$dark-mode-color: #ffffff;
$light-mode-color: #000;

$dark-mode-header-bg: #242526;
$dark-mode-main-bg: #18191a;
$light-mode-bg: #ffffff;

$dark-mode-link-color: #7fc3e0;
$light-mode-link-color: #3d7e9a;